.addBook-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100dvh - 5rem);
}

.addBook-form {
  display: flex;
  flex-direction: column;
}

.addBook-form h1 {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 2rem;
  color: #551a8b;
}

.addBook-form label {
  font-size: 1.2rem;
}

.addBook-form input {
  border-radius: 0.3rem;
  border: 2px solid gray;
  margin-bottom: 1rem;
  padding: 0.2rem 0.5rem;
  font-size: 1.5rem;
}

.addBook-form button {
  border: none;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  font-weight: 800;
  font-size: 1.2rem;
  background-color: #551a8b;
  color: white;
  margin-top: 2rem;
}

.addBook-form button:hover {
  opacity: 0.8;
}
